<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>
  
<%= link_to new_video_path, :class => 'btn-floating btn-large waves-effect waves-light red' do %>
  <i class="material-icons">add</i>
<% end %>

<ul class="collapsible">
  <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">library_books</i>
        <%= link_to video.title, video %>
        <span class="right">
          <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">event_busy</i><% end %>
        </span>
      </div>
      <div class="collapsible-body"><span><%= video.description %></span></div>
    </li>
  <% end %>
</ul>

  