<!DOCTYPE html>
<html>
  <head>
    <title>Code4Newbies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

  <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Code4Wolves</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons">view_list</i></a></li>
      <li><a href="<%= pages_about_path %>"><i class="material-icons">beenhere</i></a></li>
      <li><a href="<%= pages_contact_path %>"><i class="material-icons">contact_phone</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col m10 offset-m1">
    <%= yield %>
    <script> 
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
      });
   </script>
  </div>
</div>
  </body>
</html>
